<div width="70%" align="center">
    <div class="inner_border">
        <div class="middle_inner_content">
            <p style="MARGIN: 8px 3px 4px 9px">
            </p>
            <p align="center">
                <font face="Arial, Helvetica, sans-serif" size="3">
                    <u><b>The Cows</b></u></font>
            </p>
            <p align="center"><img src="assets/images/cow.gif" width="40%" height="50%" align="center"></p>
            <font face="Arial, Helvetica, sans-serif" size="2">&nbsp;&nbsp; The Cow is a very useful animal. The Hindus
                worship it as a sacred animal.
                They call it the mother or "Go Mata" because 80% milk we depend on cow
                and we get other health food like ghee and curd. They preserve it at all
                costs. They are very much opposed to its killing.<br><br>

                &nbsp;&nbsp;The cow is the most useful animal. It vies us milk. Its milk is best for the
                sick and infants. Those who cannot digest an ordinary food can live on its
                milk. Ghee, butter, curd and many other sweets are made form its milk.
                Its milk improves our minds. It makes us active. It removes laziness.
                Cow’s dung and urine are also very useful. Urine is best medicine for
                cancer, some kind cencer gets cured as medicines used by cow urine
                which is proved by indian scientist. The Hindus consider them holy. People
                use its dung for coat in floors and walls, because it kills harmful germs. Its
                dung cakes are used as fuel. Farmers use its dung as manure.
                The cow gives us calves. When they grow up, they are called oxen. They
                plough fields. They draw water from wells. They carry heavy loads from
                one place to another. A farmer is nothing without oxen. They are his
                property.<br><br>

                <b>Conclusion:</b><br>
                &nbsp;&nbsp;It is painful to think that cows are losing their importance now. We should
                protect such a useful animal. Please save at least one cow from
                slaughterhouse becuase cow has 80% contribution to our live. Please join
                us and will save cow together. <br><br>
                <p align="center"><b> "Go Mata Ki Jai Bolnese Kaam Nahi Chalega".</b></p>
            </font>
        </div>
    </div>
</div>