<div width="70%" align="center">
    <div class="inner_border">
        <div class="middle_inner_content">

            <p style="MARGIN: 8px 3px 4px 9px">
            </p>
            <p style="MARGIN: 8px 3px 4px 9px" align="center">
                <font face="Arial, Helvetica, sans-serif" size="3"><u><b>For Blood Donation Contact Us.</b></u></font>
            </p><br>
            <p style="MARGIN: 8px 3px 4px 9px" align="center">
                <font face="Arial, Helvetica, sans-serif" size="2"><u><b>To Whom "U" Contact</b></u></font>
            </p>
            <p></p>
            <b>
            </b><b><b>
                </b></b><b><b><b>
                    </b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b><b><b><b><b>
                        </b></b></b></b>
            <table border="blue" font="" color="#ff0000" size="5" align="center" width="100%">
                <tbody>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Name</td>
                        <td>Place </td>
                        <td>Contact </td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Gaura Gopal Padhi </td>
                        <td>Kalyan</td>
                        <td>+91 8080004329 </td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Benudhar Biswal</td>
                        <td>Pawai</td>
                        <td>+91 9320106622</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Chintamani Pradhan</td>
                        <td>Kalyan</td>
                        <td>+91 9769821070</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Kali Mishra</td>
                        <td>Nai Gaon</td>
                        <td>+91 8097290442</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Krushna Chandra Pradhan</td>
                        <td>Vikhroli</td>
                        <td>+91 8898242709</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Laxmicharan Panigrahi</td>
                        <td>Pawai</td>
                        <td>+91 9820822157</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Madhav Padhi</td>
                        <td>Sakinaka</td>
                        <td>+91 9324202304</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Manoranjan Panda</td>
                        <td>Sakinaka</td>
                        <td>+91 9323166645</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">P. Ranjan</td>
                        <td>Mulund</td>
                        <td>+91 7666305526</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Prabodha Kumar Dash</td>
                        <td>Kanjur Marg</td>
                        <td>+91 9702308477</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Pradeepta Ranjan Sahoo</td>
                        <td>Vile Parle</td>
                        <td>+91 9022812024</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Radhashyam Panigrahi</td>
                        <td>Pawai</td>
                        <td>+91 9967623063</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Ramakrushna Dalai</td>
                        <td>Thane</td>
                        <td>+91 8898243793</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Ranjan Panigrahi</td>
                        <td>Mulund</td>
                        <td>+91 9619295657 </td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Ranjit Kumar Maharana</td>
                        <td>Ghatkopar</td>
                        <td>+91 89867041860</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Sadanan Sahoo</td>
                        <td>Thane</td>
                        <td>+91 9022812024</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Sahadev Dash</td>
                        <td>Vayandar</td>
                        <td>+91 9892017801</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Sanjay Pal</td>
                        <td>Sakinaka</td>
                        <td>+91 9987834066</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Santosh Pradhan</td>
                        <td>Vayandar</td>
                        <td>+91 9594166994</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Shubhash Badtya</td>
                        <td>Bayal Bazar</td>
                        <td>+91 9821443314</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Simanchal Sahu</td>
                        <td>Sakinaka</td>
                        <td>+91 9821435642</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Sitaram Padhi</td>
                        <td>Vayandar</td>
                        <td>+91 9819933896</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Tukuna Padhi</td>
                        <td>Vayandar</td>
                        <td>+91 9987464793</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Vikrant Panigrahi</td>
                        <td>Navi Mumbai</td>
                        <td>+91 9820215683</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Rashmi Ranjan Dash</td>
                        <td>Nai Gaon</td>
                        <td>+91 9321036480</td>
                    </tr>
                    <tr font="" color="#ff0000" size="5" face="Verdana" align="center">
                        <td align="left">Basant Giri</td>
                        <td>Dombivili, Kalyan</td>
                        <td>+91 9167830962</td>
                    </tr>
                </tbody>
            </table><b><b><b>

                    </b></b></b>
        </div><b><b><b>
                </b></b></b>
    </div><b><b><b>
            </b></b></b>
</div>