<div width="70%" align="center">
    <div class="inner_border">
        <div class="middle_inner_content">
            <p style="margin-left: 9; margin-right: 3; margin-top: 8; margin-bottom: 4" align="center">
                <u><b>
                        <font face="Arial, Helvetica, sans-serif" size="2">Your Comments</font>
                    </b></u>
                <font size="2"></font>
            </p>
            <p>
            </p>
            <table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111"
                width="100%">

                <tbody>
                    <tr>
                        <td width="100%">
                            <font size="2"><i>
                                    <font face="Arial, Helvetica, sans-serif">Its useful organization &amp; website for
                                        Odia people. It will better if will add reference of some good odia professional
                                        &amp; achiver like Doctor, IAS, Artist, Leaders, Sports person etc.</font>
                                </i>
                                <font size="2" face="Arial, Helvetica, sans-serif"><b>Prasant Sahoo, Naigaon east,
                                        Mumbai </b></font>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" bgcolor="#FFD2D2">&nbsp;</td>
                    </tr>

                    <tr>
                        <td width="100%">
                            <font size="2"><i>
                                    <font face="Arial, Helvetica, sans-serif">This is a good initiative for odiya people
                                        to organised and do social work..please continue noble work </font>
                                </i>
                                <font size="2" face="Arial, Helvetica, sans-serif"><b>Sitaram Padhi, Bhayander east </b>
                                </font>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" bgcolor="#FFD2D2">&nbsp;</td>
                    </tr>

                    <tr>
                        <td width="100%">
                            <font size="2"><i>
                                    <font face="Arial, Helvetica, sans-serif">Bharat mata pujan 2016 was a fabulous
                                        program. A lot of thanks for the organizer and co-coordinator.</font>
                                </i>
                                <font size="2" face="Arial, Helvetica, sans-serif"><b>Prabodh Dash, Kanjur Marg </b>
                                </font>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" bgcolor="#FFD2D2">&nbsp;</td>
                    </tr>

                    <tr>
                        <td width="100%">
                            <font size="2"><i>
                                    <font face="Arial, Helvetica, sans-serif">Its a very good website
                                        made by the Odia Sangathana in Mumbai, we get very good information about
                                        odisha. Keep watching this website regularly. Thank You ...</font>
                                </i>
                                <font size="2" face="Arial, Helvetica, sans-serif"><b>Sushant Badatya, Vashi</b></font>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" bgcolor="#FFD2D2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="100%"><i>I found this site very interesting. Its all about sharing good knowledge
                                about the culture of Orissa. Its Great!</i> --
                            <b>Steven Pereira, Kanjurmarg</b></td>
                    </tr>
                    <tr>
                        <td width="100%" bgcolor="#FFD2D2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="100%">
                            <font size="2"><i>
                                    <font face="Arial, Helvetica, sans-serif">Wow very excitement website ... good luck
                                    </font>
                                </i>
                                <font size="2" face="Arial, Helvetica, sans-serif"><b>Arun Pagare, 9967252814,
                                        Chembur</b></font>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" bgcolor="#FFD2D2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="100%"><i>Its a very good website to help Oriya people in Mumbai </i>-
                            <b>Sudarshan</b></td>
                    </tr>
                    <tr>
                        <td width="100%" bgcolor="#FFD2D2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="100%"><i>Its all about fun &amp; a good community</i>.. <b>Radhakant Patro,Andra
                                Pradesh</b></td>
                    </tr>
                    <tr>
                        <td width="100%" bgcolor="#FFD2D2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="100%"><i>Very good idea of making this website &amp; well mantained,<a
                                    href="mailto:pratiks360@gmail.com">Pratiks</a></i>.. <b>,Borivali</b></td>
                    </tr>
                    <tr>
                        <td width="100%" bgcolor="#FFD2D2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="100%"><i>Best wishes for Odiya Sangathan in Mumbai, This is the only website founded
                                for Odiya Sangathan in Mumbai<a href="mailto:gopal_vorashi@yahoo.com">Gopal</a></i>..
                            <b>,
                                Dahisar</b></td>
                    </tr>
                    <tr>
                        <td width="100%" bgcolor="#FFD2D2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="100%"><i>Wish you all the best &amp; go ahead... thanks, </i>.. <b>Sunil, Dahisar</b>
                        </td>
                    </tr>
                </tbody>
            </table><br>
            <!-- <div class="view_form">
<form>
<input type="text" placeholder="Enter your name"><br>
<textarea rows="4" placeholder="Enter your view"></textarea><br>
<button>Submit</button>
</form>
</div>
-->
            <h3> Please give your feedback here...</h3>
            <form id="feedbackForm" class="feedback-form">
                <div class="form-wrap">
                    <div class="flash-msg" style="display: none" id="form-notice">Your Feedback is under modoration. It
                        will be displayed here verysoon.</div>
                    <div class="row">
                        <div class="col-50 columns left">
                            <input type="text" id="name" name="name" placeholder="Name" required="">
                        </div>
                        <div class="col-50 columns right">
                            <input type="email" id="email" name="_replyto" placeholder="Email" required="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-50 columns left">
                            <input type="text" id="address" placeholder="Your address" required="">
                        </div>
                        <div class="col-50 columns right">
                            <input type="number" id="phone" placeholder="Phone number" required="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <textarea rows="5" id="message" placeholder="Message" required=""></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="submit_views_btn columns">
                            <input type="submit" class="button" id="submit-form">
                        </div>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
                jQuery(function ($) {


                    //Ajax contact
                    $('form').submit(function (event) {
                        event.preventDefault();
                        var f_name = $("#name").val();
                        var f_email = $("#email").val();
                        var f_address = $("#address").val();
                        var f_message = $("#message").val();
                        var f_phone = $("#phone").val();
                        $.ajax({
                            url: "http://formspree.io/subudhisatyapriya@gmail.com",
                            method: "POST",
                            data: {
                                name: f_name,
                                email: f_email,
                                address: f_address,
                                message: f_message,
                                phone: f_phone,
                                _replyto: f_email
                            },
                            dataType: "json",
                            success: function (data) { showFormNotice(); }
                        });
                        function showFormNotice() {
                            $("#form-notice").show();
                            $("#feedbackForm")[0].reset();
                            setTimeout(function () { $("#form-notice").slideToggle(); }, 6000);
                        }

                        //  $this = $(this);
                        //  $.post($(this).attr('action'), function(data) {
                        //    $this.prev().text(data.message).fadeIn().delay(3000).fadeOut();
                        //  },'json');
                        //  return false;
                    });
                });
// $(document).ready(function() {
//   $('#contact-form').submit(function(e) {
//       var name = $('#inputName')
//       var email = $('#inputEmail')
//       var message = $('#inputMessage')

//       if(name.val() == "" || email.val() == "" || message.val() == "") {
//         $('.submit-fail').fadeToggle(400);
//         return false;
//       }
//       else {
//         $.ajax({
//           method: 'POST',
//           url: 'https://formspree.io/subudhisatyapriya@gmail.com',
//           data: $('#contact-form').serialize(),
//           datatype: 'json'
//         });
//         e.preventDefault();
//         $(this).get(0).reset();
//         $('.submit-success').fadeToggle(400);
//       }
//     });

//   $('.submit-fail, .submit-success').click(function() {
//     $(this).hide();
//   })
// });

            </script>

        </div>
    </div>
</div>