<div>
    <div class="banner_section" id="banner_section">
        <a href="/" class="logo"></a>
        <div class="short_name"><a href="/">UJSS</a></div>
        <h1 class="ujss_name">
            <div class="english">
                <a href="/">Utkal Jagruti Seva Sangh</a>
            </div>
            <div class="odia">
                <a href="/">ଉତ୍କଳ ଜାଗୃତୀ ସେବା ସଙ୍ଘ</a>
            </div>
        </h1>
        <ul class="header_links">
            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <div class="dropdown">
                    <a class="dr-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/about-us">Mission</a>
                        <a class="dropdown-item" href="/about-odisha">About Odisha</a>
                        <a class="dropdown-item" href="/donate">Donate</a>
                        <a class="dropdown-item" href="/events">Events</a>
                    </div>
                </div>
            </li>

            <li>
                <div class="dropdown">
                    <a class="dr-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Downloads
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/souvenir">Souvenir</a>
                        <a class="dropdown-item" href="/jagaran-patrika">Jagarana Patrika</a>
                        <!-- <a class="dropdown-item" href="/gallery">Gallery</a> -->
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a class="dr-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Seva
                    </a>
                    <div class="dropdown-menu last-dr-mannu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/blood-donation">Blood Donation</a>
                        <a class="dropdown-item" href="/cancer-patient">Help To Cancer Patient</a>
                        <a class="dropdown-item" href="/cows">Gou Seva</a>
                        <a class="dropdown-item" href="/social-organizations">Other Seva Projects At Odisha</a>
                        <a class="dropdown-item" href="/social-organizations">Other Seva activites In Mumbai</a>
                        <!-- <a class="dropdown-item" href="#">Seva by UJSS</a>
              <a class="dropdown-item" href="#">Help For Cancer Patient</a> -->
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a class="dr-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Contact Us
                    </a>
                    <div class="dropdown-menu last-dr-mannu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/feedback">Feedback</a>
                        <!-- <a class="dropdown-item" href="#">Register</a> -->
                    </div>
                </div>
            </li>
        </ul>
        <ul class="social_icon_group right">
            <a href="https://www.facebook.com/Utkal-Jagruti-Seva-Sangh-603213183221510/">
                <i class="fa fa-facebook-square"></i>
            </a>
            <a href="">
                <i class="fa fa-twitter-square"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCb7qZXce0_pOGTG9jJh2jag/feed">
                <i class="fa fa-youtube-play"></i>
            </a>
        </ul>
        <div class="temporary_shadow"></div>
    </div>
</div>