<div width="100%" height="17" colspan="5" class="footer">
    <footer class="footer">
        <div class="temporary_shadow"></div>
        <ul class="footer_links">
            <li>
                <a>About Us</a>
                <div class="sub-links">
                    <a href="/about-us">Mission</a>
                    <a href="/about-odisha">About Odisha</a>
                    <a href="/donate">Donate</a>
                    <!-- <a class="dropdown-item" href="#">Mission</a> -->
                    <!-- <a class="dropdown-item" href="#">Organisation</a> -->
                </div>
            </li>
            <li>
                <a>Downloads</a>
                <div class="sub-links">
                    <a href="/jagaran-patrika">Jagarana Patrika</a>
                    <a href="/gallery">Gallery</a>
                </div>
            </li>
            <li>
                <a>Seva</a>
                <div class="sub-links">
                    <a href="/blood-donation">Blood Donation</a>
                    <a href="/cows">Gow Seva</a>
                    <a href="/social-organizations">Seva by Others At Odisha</a>
                    <a href="/social-organizations">Odia Organisations In Mumbai</a>
                    <!-- <a class="dropdown-item" href="#">Seva by UJSS</a>
                    <a class="dropdown-item" href="#">Help For Cancer Patient</a> -->
                </div>
            </li>
            <li class="contact">
                <a>Contact Us</a>
                <div class="sub-links">
                    <a>
                        #306, Kaveri Complex, Jagannath mandir road,
                        Opp. Holiday Inn Hotel, Sakinaka
                        Mumbai- 400072, MH, INDIA

                        <br>
                        <i class="fa fa-phone-square" aria-hidden="true"></i> : 028562887
                        <br>
                        <i class="fa fa-envelope" aria-hidden="true"></i>: info@ujss.org
                    </a>
                    <!-- <a class="dropdown-item" href="#">Register</a> -->
                </div>
            </li>
            <li>
                <div href="">Follow Us</div>
                <div class="footer_social_icon_group">
                    <a href="https://www.facebook.com/Utkal-Jagruti-Seva-Sangh-603213183221510/">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCb7qZXce0_pOGTG9jJh2jag/feed">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>
            </li>
        </ul>
        <p class="text-left copy_right_txt">
            All Rights Reserved. © Utkal Jagruti Seva Sangha, Mumbai.
        </p>
    </footer>
</div>