<div width="70%" align="center">
    <div class="inner_border">
        <div class="middle_inner_content">

            <h2>Jagarana Patrika</h2>
            <hr>


            <div class="text-left">
                <div>
                    Jagarana patrika of <a href="/jagarana_patrica/Jagarana_Apr_May_2017.pdf">April 2017</a>
                </div>
                <div>
                    Jagarana patrika of <a href="/jagarana_patrica/Jagarana_Mar_2017.pdf">March 2017</a>
                </div>
                <div>
                    Jagarana patrika of <a href="/jagarana_patrica/Jagarana_Jan_2017.pdf">January 2017</a>
                </div>
                <div>
                    Jagarana patrika of <a href="/jagarana_patrica/jagarana-december.pdf">December 2016</a>

                    <div>
                        Jagarana patrika of <a href="/jagarana_patrica/Jagarana_NOV_2016.pdf">November 2016</a>
                    </div>
                    <div>
                        Jagarana patrika of <a href="/jagarana_patrica/Jagarana_Oct_2016.pdf">October 2016</a>
                    </div>
                    <!-- <div > 
    Jagarana patrika of <a href="#">September 2016</a>
</div> -->
                    <div>
                        Jagarana patrika of <a href="/jagarana_patrica/Jagarana_August_2016.pdf">August 2016</a>
                    </div>

                </div>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="100%">
            </table>
            <hr>

            <p style="margin-left: 9; margin-right: 3; margin-top: 8; margin-bottom: 4" align="center">
                You can send your comments at <br>
                ujss@mumbaiodia.com
            </p>


        </div>
    </div>
</div>