<div class="middle_inner_content">
    <p>
    </p>
    <h2>About Us</h2>
    <p>Vision and Mission of Utkal Jagruti Seva Sangha</p>
    <div class="text-left sub-content">
        UtkalJagruti Seva Sangh is a socio-cultural registered organization.<br>
        The aim and objectives of the organisaton are as follows:-<br>
        1) To bring all Oriya organization in Mumbai to one platform forthe betterment of society.<br>
        2) To help financially to poor and needy students.<br>
        3) To arrange blood donation camp and medical camps.<br>
        4) To unit people on the basis of our great culture.<br>
        5) To revive our great ancient culture and heritage.<br>
        6) It's motto - Service to mankind is service to God (Manava seva hi madhaba seva).<br>
        7) To create awareness for national integration. To keep vigilon anti national activities.<br>
        8) To work selflessly in the other organization.<br>
        9) To provide relief at the time of natural calamities.<br>
        We also arrange different program's in different area. I have mentioned some names of the worker in the below:
    </div>
    <p class="text-center">
        <b>PRAMUKH'S FROM ALL OVER MUMBAI</b>
    </p>
    <table border="blue" align="center" width="100%">
        <tbody>
            <tr>
                <td align="left">G. GOPAL PADHI (KALYAN)</td>
                <td>8080004329 </td>
            </tr>
            <tr>
                <td align="left">BENUDHAR VISWAL (SAKINAKA)</td>
                <td>9867006622 </td>
            </tr>
            <tr>
                <td align="left">CHINTAMANI (KALYAN)</td>
                <td>9769821070 </td>
            </tr>
            <tr>
                <td align="left">CHINTAMANI (KALYAN)</td>
                <td>9503056150 </td>
            </tr>
            <tr>
                <td align="left">KALI MISHRA (VASAI)</td>
                <td>9987042690</td>
            </tr>
            <tr>
                <td align="left">KANHU SAHU (THANE)</td>
                <td>9819641315</td>
            </tr>
            <tr>
                <td align="left">LAXMI CHARAN PANIGRAHI (SAKINAKA)</td>
                <td>9820822157 </td>
            </tr>
            <tr>
                <td align="left">MANRANJAN PANDA (SAKINAKA)</td>
                <td>9823166645 </td>
            </tr>
            <tr>
                <td align="left">RADHASHYAM PANIGRAHI (SAKINAKA) </td>
                <td>9967623063 </td>
            </tr>
            <tr>
                <td align="left">SANJAY PAL (SAKINAKA) </td>
                <td>9320804171</td>
            </tr>
            <tr>
                <td align="left">SANTOSH PRADHAN (BHAYANDER) </td>
                <td>9867418504</td>
            </tr>
            <tr>
                <td align="left">SITARAM PADHI (BHAYANDER)</td>
                <td>9324748736</td>
            </tr>
            <tr>
                <td align="left">SAHADEV DAS (BHAYANDER) </td>
                <td>9892017801</td>
            </tr>
            <tr>
                <td align="left">ACHUTANANDA KHATUA (Colaba) </td>
                <td>9833498730</td>
            </tr>
            <tr>
                <td align="left">AJAY DASH (MUMBAI)</td>
                <td>9920959793</td>
            </tr>
            <tr>
                <td align="left">DEVENDRA JENA (VASAI) </td>
                <td>9833976844</td>
            </tr>
            <tr>
                <td align="left">DINOBANDHU SARANGI (COLABA) </td>
                <td>9324451328</td>
            </tr>
            <tr>
                <td align="left">GOPAL CHAUDHURY (KURLA) </td>
                <td>9920259773</td>
            </tr>
            <tr>
                <td align="left">GOPAL KRUSHNA (MUMBAI) </td>
                <td>9004499554</td>
            </tr>
            <tr>
                <td align="left">KANHU SAHU (MUMBAI)</td>
                <td>9987528579</td>
            </tr>
            <tr>
                <td align="left">MANAS JENA (MUMBAI)</td>
                <td>9339458877</td>
            </tr>
            <tr>
                <td align="left">MONARANJAN (MUMBAI)</td>
                <td>9323166645</td>
            </tr>
            <tr>
                <td align="left">NIRANJAN (MUMBAI)</td>
                <td>9930395240</td>
            </tr>
            <tr>
                <td align="left">PRABODHA (Kanjur Marg) </td>
                <td>9702308477</td>
            </tr>
            <tr>
                <td align="left">RADHA PATRO(Malad) </td>
                <td>9820026676</td>
            </tr>
            <tr>
                <td align="left">RANJIT MAHARANA (MUMBAI)</td>
                <td>9867061860</td>
            </tr>
            <tr>
                <td align="left">RANJIV (MUMBAI)</td>
                <td>9004357695</td>
            </tr>
            <tr>
                <td align="left">RAVINDRA (COLABA) </td>
                <td>9819638479</td>
            </tr>
            <tr>
                <td align="left">SANATAN MAHARANA (MUMBAI)</td>
                <td>9892769656</td>
            </tr>
            <tr>
                <td align="left">SIMANCHAL SAHU (SAKINAKA)</td>
                <td>9821435642</td>
            </tr>
            <tr>
                <td align="left">TUKUNA PADHI (BHAYANDER)</td>
                <td>9970545150</td>
            </tr>
        </tbody>
    </table>

</div>