<div class="content-section" id="content-section" style="padding-top: 0px;">
    <div width="70%" align="center">
        <div class="inner_border">
            <div class="middle_inner_content">
                <h2 class="text-center">First in ODISHA</h2>
                <div class="text-left sub-content">
                    In this page you'll find more information about orissa. Visit regularly &amp; know more about orissa
                    <a href="#"> About Odia People </a>,
                    <a href="#">About Odisha Tourism </a>
                </div><br>
                <table border="1">
                    <tbody>
                        <tr>
                            <td>Advocate</td>
                            <td>Madhusudan Das</td>
                        </tr>
                        <tr>
                            <td>Awarded Jamunalal Bajaj</td>
                            <td>Ramadevi Choudhury</td>
                        </tr>
                        <tr>
                            <td>Central Minister</td>
                            <td>Harekrushna Mohatab</td>
                        </tr>
                        <tr>
                            <td>Chief Justice of SC</td>
                            <td>Ranganath Mishra</td>
                        </tr>
                        <tr>
                            <td>Chief Secretary</td>
                            <td>Nilamani Senapati</td>
                        </tr>
                        <tr>
                            <td>Chartered Accountant</td>
                            <td>Hrudayananda Naik, Cuttack</td>
                        </tr>
                        <tr>
                            <td>Cinema Hall</td>
                            <td>Sitaram Vilas Talkies (SSBT),Berhampur</td>
                        </tr>
                        <tr>
                            <td>College</td>
                            <td>Ravenshaw College, Cuttack</td>
                        </tr>
                        <tr>
                            <td>Colour film</td>
                            <td>Gapa Helebi Sata</td>
                        </tr>
                        <tr>
                            <td>D.S.P.</td>
                            <td>Guruprasad Das</td>
                        </tr>
                        <tr>
                            <td>Daily Newspaper</td>
                            <td>Dainika Asha</td>
                        </tr>
                        <tr>
                            <td>District Collector</td>
                            <td>Jatindra Nath Mohanty</td>
                        </tr>
                        <tr>
                            <td>District Magistrate</td>
                            <td>Dayanidhi Das</td>
                        </tr>
                        <tr>
                            <td>Drama</td>
                            <td>Babaji,writer Jagmohan Lala</td>
                        </tr>
                        <tr>
                            <td>Engineering College</td>
                            <td>University College of Engineering, Burla</td>
                        </tr>
                        <tr>
                            <td>Engineering School</td>
                            <td>Orissa School of Engeering,Cuttack</td>
                        </tr>
                        <tr>
                            <td>Essay</td>
                            <td>Bibeki, writer Late Radhanth Ray</td>
                        </tr>
                        <tr>
                            <td>Film of Orissa</td>
                            <td>Sita Bibaha</td>
                        </tr>
                        <tr>
                            <td>Film produced in Orissa</td>
                            <td>Shodh</td>
                        </tr>
                        <tr>
                            <td>Film Studio</td>
                            <td>Kalinga Studio,Bhubaneswar</td>
                        </tr>
                        <tr>
                            <td>Freedom Fighter</td>
                            <td>Bir Surendra Sai</td>
                        </tr>
                        <tr>
                            <td>Governnor</td>
                            <td>Harekrushna Mohatab</td>
                        </tr>
                        <tr>
                            <td>Graduate</td>
                            <td>Madhusudan Das</td>
                        </tr>
                        <tr>
                            <td>I.C.S.</td>
                            <td>Nilamani Senapati</td>
                        </tr>
                        <tr>
                            <td>Lady Advocate</td>
                            <td>Sudhanshubala Hajra</td>
                        </tr>
                        <tr>
                            <td>Lady Chief Minister</td>
                            <td>Nandini Satpathy</td>
                        </tr>
                        <tr>
                            <td>Lady Director of Cinema</td>
                            <td>Parvati Ghosh</td>
                        </tr>
                        <tr>
                            <td>Lady I.A.S.</td>
                            <td>Pragyan Paramita Das</td>
                        </tr>
                        <tr>
                            <td>Lady I.P.S.</td>
                            <td>Somya Mishra</td>
                        </tr>
                        <tr>
                            <td>Lady Justice of Highcourt</td>
                            <td>Amiya Kumari Padhi</td>
                        </tr>
                    </tbody>
                </table>
                <p align="center" colspan="2">
                    <u>Name of the Chief Minister - Tenure</u>
                </p>
                <table border="1">
                    <tbody>
                        <tr>
                            <td>Shri Naveen Patnaik</td>
                            <td>05-03-2000---Till Date</td>
                        </tr>
                        <tr>
                            <td>Shri Hemananda Biswal </td>
                            <td>06-12-1999---05-03-2000</td>
                        </tr>
                        <tr>
                            <td>Dr. Giridhar Gamang </td>
                            <td>17-02-1999---06-12-1999</td>
                        </tr>
                        <tr>
                            <td>Shri Janaki Ballav Patnaik </td>
                            <td> 15-03-1995---17-02-1999</td>
                        </tr>
                        <tr>
                            <td>Shri Biju Patnaik </td>
                            <td>05-03-1990---15-03-1995</td>
                        </tr>
                        <tr>
                            <td>Shri Hemananda Biswal </td>
                            <td>07-12-1989---04-03-1990</td>
                        </tr>
                        <tr>
                            <td>Shri Janaki Ballav Patnaik </td>
                            <td>09-06-1980---07-12-1989</td>
                        </tr>
                        <tr>
                            <td>Shri Nilamani Routray </td>
                            <td>26-06-1977---17-02-1980</td>
                        </tr>
                        <tr>
                            <td>Shri Binayak Acharya </td>
                            <td>29-12-1976---30-04-1977</td>
                        </tr>
                        <tr>
                            <td>Smt.Nandini Satapathy </td>
                            <td>14-06-1972---16-12-1976</td>
                        </tr>
                        <tr>
                            <td>Shri Biswanath Das</td>
                            <td>03-04-1971---14-06-1972</td>
                        </tr>
                        <tr>
                            <td>Shri Rajendra Narayan Singh Deo </td>
                            <td>08-03-1967---09-01-1971</td>
                        </tr>
                        <tr>
                            <td>Shri Sadasiva Tripathy</td>
                            <td>21-02-1965---08-03-1967</td>
                        </tr>
                        <tr>
                            <td>Shri Biren Mitra </td>
                            <td>02-10-1963---21-02-1965</td>
                        </tr>
                        <tr>
                            <td>Shri Bijayananda Patnaik </td>
                            <td>23-06-1961---02-10-1963</td>
                        </tr>
                        <tr>
                            <td>Dr. Harekrushna Mahtab </td>
                            <td>19-10-1956---25-02-1961</td>
                        </tr>
                        <tr>
                            <td>Shri Nabakrushna Choudhury </td>
                            <td>12-05-1950---19-10-1956</td>
                        </tr>
                        <tr>
                            <td>Dr. Harekrushna Mahatab</td>
                            <td>23-04-1946---12-05-1950</td>
                        </tr>
                        <tr>
                            <td>Krishna Chandra Gajapati Narayan Deo</td>
                            <td>24-11-1941---30-06-1944</td>
                        </tr>
                        <tr>
                            <td>Shri Biswanath Das</td>
                            <td>19-07-1937---06-11-1939</td>
                        </tr>
                        <tr>
                            <td>Krishna Chandra Gajapati Narayan Deo</td>
                            <td>01-04-1937---19-07-1937</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>