body{
	margin: 0;
}
a, h1, h2{
	color: #FD7707;
	text-decoration: none;
}
a:hover, a:visited, a:focus{
	text-decoration: none;
	color: #FD7707;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
a:hover{
	color:red;
}
.short_name a:hover, .ujss_name a:hover{
	color: #FD7707;
}
.fa{
	font-family: FontAwesome;
	font-style: normal;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.marque_text{
	margin: 0.1rem;
	font-size: 0.7rem;
	font-weight: bold;
	color: #FD7707;
}
.copy_right_txt{
	font-size: 0.7rem;
	padding: 0 0 10px;
	color: #9c9b9b;
	padding-left: 31px;
    font-weight: 200;
}
.preload_img img{
	position: absolute;
	height: 1px;
	width: 1px;
	opacity: 0;
}

.slick-slider{
	margin-bottom: 0!important;
}

.merun{
	color: rgb(255, 153, 0);
}
.social_ref{
	color:#6035FC;
}
.social_ref li{
	font-size: 16px;
	text-decoration: none;
	line-height: 27px;
	font-weight: 700;
}
.content-section{
	width:100%;
}
.right_banner{
	background: #000000 url(/jagannath.png) no-repeat right top;
	height: 100%;
	width: 100%;
	background-size: 100%;
	display: inline-block;
}
.home_invite{
	float: right;
	padding: 0.5rem;
	max-width: 12rem;
	border-radius: 3px;
	background: #cde;
	border: 2px solid #ccc;
	border-color: rgba(0,0,255,0.5);
	font-size: 18px;
	color: #3417E8;
	text-shadow: rgba(20, 20, 20, 0.5) 1px 1px 5px;
	text-align: center;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	-webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
	box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
	text-decoration: none;
}
.home_invite:hover{
	background-color: #cce;
}
.right{
	float: right;
}

.middle_inner_content td{
	padding:5px;
}
.middle_inner_content table{
	width:100%;
}

.prakalpa-page{
	text-align: left;
}
.click-to-show {
    background-color: #eee;
    border-radius: 4px;
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
    padding: 5px 20px;
    text-decoration: none;
}

.clickme:hover {
    text-decoration: underline;
}

.box {
    background-color: #D8D6D6;
    border-radius: 4px;
    font-size: 15px;
    color: #333;
    margin: 5px 0;
    padding: 15px 20px 5px;
    width: auto;
}
.gallery-header{
	padding: 5px;
	margin: 5px 10px 10px 10px;
	background-color: #FF9800;
	font-weight: bold;
	color: white;
}

footer{
	margin-bottom: 10px;
	margin-top: 10px;

}
.footer{
	position: relative;
	background: #f5f2f2;
}
.footer li{
		vertical-align: top;
	}
	.footer .temporary_shadow{
    	height: 1px;
	    box-shadow: 0px -1px 1px rgba(0,0,0,0.5);
	    position: absolute;
	    top: 0;
	    width: 100%;
    }

.footer_links{
	padding: 20px;
	margin-bottom: 0;
	text-align: left;
}
.footer_links ul{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.footer_links li{
	font-size: 0.9rem;
	text-decoration: none;
	padding: 0 0.7rem;
	display: inline-block;
}
.footer_links a{
	color: black;
}
.footer_links a:hover{
	text-decoration: none;
}

.footer_links li{
		width: 18%;
	}

.sub-links a{
		display: block;
		font-weight: 200;
    	font-size: 11px;
	}

.footer_social_icon_group{
	font-size: 20px;
}


.dr-link{
	-webkit-appearance: none!important;
}
.advertise_slides{
	    padding: 0 10px 7px;
	background-color: #e9e9e9;
}
.sl-item{
	width: 30%;
	box-shadow: 1px 1px 1px black;
	height: 100px;
	text-align: center;
	padding: 5px 0;
}
.sl-item img{
	width: 100%;
	max-height: 150px;
}
.image_slider{
	box-shadow: 1px 2px 6px;
}
.slick-dots{
	bottom: 3px!important;
	text-align: right!important;
}
.slick-dots button:before{
	color: white!important;
	font-size: 13px!important;
	opacity: 0.9!important
}
.slick-dots .slick-active button:before{
	color: #FD7707!important;
}

.contact{
	    width: 25%!important;
}
.souvenir_thumb{
	position: relative;
	display: inline-block;
	width: 30%;
}
.souvenir_thumb:before{
		position: absolute;
		content: '';
		height: 100%;
		width: 100%;
		z-index: 1;
		background-color: rgba(0,0,0,0.5);
	}
	.souvenir_thumb img{
		width: 100%;
	}

.souvenir_title{
	transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    color: white;
    z-index: 2;
    text-align: center;
	text-shadow: 1px 4px 5px black;
}
.souvenir_title .small-txt{
    	font-size: 12px;
    }


@media (min-width: 1200px){
.container {
    width: 1040px;
    max-width: 100%;
}
}