<div width="70%" align="center">
    <div class="inner_border">
        <div class="middle_inner_content">

            <h2>Souvenir</h2>
            <hr>


            <div class="text-left">
                <a class="souvenir_thumb" href="assets/magazine/2019/Rastrashakti_2019.pdf">
                    <img src="assets/magazine/2019/thumb.png" alt="Thumb">
                    <div class="souvenir_title">
                        <div class="large-txt">Rastrashakti</div>
                        <div class="small-txt">published on: 26th Jan 2019</div>
                    </div>
                </a> <a class="souvenir_thumb" href="assets/magazine/2018/Rastrashakti_2018.pdf">
                    <img src="assets/magazine/2018/thumb.png" alt="Thumb">
                    <div class="souvenir_title">
                        <div class="large-txt">Rastrashakti</div>
                        <div class="small-txt">published on: 26th Jan 2018</div>
                    </div>
                </a> <a class="souvenir_thumb" href="assets/magazine/2017/Rastrashakti_2017.pdf">
                    <img src="assets/magazine/2017/thumb.png" alt="Thumb">
                    <div class="souvenir_title">
                        <div class="large-txt">Rastrashakti</div>
                        <div class="small-txt">published on: 26th Jan 2017</div>
                    </div>
                </a> </div>
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="100%">

            </table>
            <hr>

            <p style="margin-left: 9; margin-right: 3; margin-top: 8; margin-bottom: 4" align="center">
                You can send your comments at <br>
                ujss@mumbaiodia.com
            </p>


        </div>
    </div>
</div>