<div class="content-section" id="content-section">
    <div width="70%" align="center">
        <div class="inner_border">
            <div class="middle_inner_content">
                <h1>DONATION</h1>
                <div class="text-left">
                    <div>
                        <p>
                            You can donate us to accelerate our project work which can motivate our best
                            scholars to join research centers to upgrade the existing technologies and develop
                            the indigenization in research field.</p>
                        <p>
                            Donors desirous of becoming the member of UJSS, can deposit the requisite amount in
                            the S.B. <br>
                            A/c Name: <strong>Utkal Jagruti Seva Sangh</strong><br>
                            A/c No: <strong>19010100006491</strong><br>
                            I.F.S.C./ R.T.G.S. Code: <strong>JSBL0000019</strong><br>
                            Bank Name: <strong>Janakalyan Sahakari Bank limited</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>