<div width="70%" align="center">
    <div class="inner_border">
        <div class="middle_inner_content">
        <h2>List Of Organisation</h2>
<ol type="1">
<dl>
</dl></ol><table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="100%" class="top_social_table">
<tbody><tr>
<td width="33%">
<b class="td_title">SHREE JAGANNATH SEVA MANDAL</b>
<p class="td_data_addr">
    Address :-59,Kurla Pipe Line,Satya Nagar,Sakinaka, Mumbai-400072
    <br> Contact:- Mr. Radhashyam Panigrahi
    <br> Contact No :-9967623063
    <br> Contact :- Mr. Benudhar Biswal
    <br> Contact No :-9004006622/9323657047
    <br>
</p>
<p></p>
</td>
<td width="33%">
<b class="td_title">BOMBAY UTKAL SAMITI</b>
<p class="td_data_addr">
    Address :-Naupada Lane,L.B.S.Mag.Kurla(west),Mumbai-400070,Tel No-022-25040431/538 Contact:- UtkalJyoti Mr.Dev Mohanty,
    <br> Contact No :- 9323657047
    <br> Contact :- Mr.Prabhakar Raulo
    <br> Contact No :- 9920463896
    <br>
</p>
<p></p>
</td>
<td width="34%">
<b class="td_title">MUMBAI ORIYA WOMEN'S ASSOCIATION "UTKRRSHA"</b>
<p class="td_data_addr">
    Address :-Bulding,Sector-12,Plot No-134,Kharghar,Navi Mumbai-410210 Tel No-022-22525007/27722297
    <br> Contact:- Dr.(Mrs.)Kananika Tripathy
    <br> Contact No :- 9821028835
    <br>
</p>
<p></p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">BRAJ GOURI TRUST </b>
<p class="td_data_addr">
    Address :- 411,Sai Chamber,Near Railway Staton,Santacruz(East),Mumbai-40055,Tel No-022-26125301/191
    <br> Contact:- Mr.Dev Mohanty,
    <br> Contact No :- 9323657047
    <br> Contact :- Mr. Benudhar Biswal
    <br> Contact No :- 9004006622/9323657047
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">JAGANNATH CENTER AID FOUNDATION</b>
<p class="td_data_addr">
    Address :-Plot No-273,Sector-19,Budha Mehar 'C' Galli,Near Jimmy Tower ,Koparkharene,Navi Mumbai-400709
    <br> Contact:- Dr.Srikrishna Pattnaik,
    <br> Contact No :- 9821024447
    <br> Contact :- Mrs. Kavita Mishra
    <br> Contact No :- 9920620206
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">"ASHRA" </b>
<p class="td_data_addr">
    Address :- M/3,Sai Vihar,1st Floor,22 Mint Park Road,Fort,Mumbai-400001
    <br> Contact :- S.N Mohapatra
    <br> Contact No:– 9324544841
    <br>
</p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">SRADHA FOUNDATION</b>
<p class="td_data_addr">
    Address :-618,Laxmi Plazza,new Link Road Andheri(west),Mumbai-400053,Tel No-022-40003355
    <br> Contact :- Capt.K.K Choudhury
    <br> Contact :- Sadhana Choudury
    <br> Contact No:– 9819836138
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">TRAHI ACHUTA TRUST(Sree Jaganth Temple)</b>
<p class="td_data_addr">
    Address :- NH-8,Mumbai-Ahamedabad Highway,Sashupada,Vashi
    <br> Contact No :- 08108524433/08108255433
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">TRAHI JHUM </b>
<p class="td_data_addr">
    Address :- 7/C Dhabalagiri,Anushakti Nagar,Mumbai-400094.Tel No-022-25582457
    <br> Contact No:– 9322262055
    <br>
</p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">MUMBAI ORIYA GANESH PUJA COMMITTEE</b>
<p class="td_data_addr">
    Address :- Gayatri Sadan,1st Floor, Mital Estate,Sakinaka,Mumbai-400059,Tel-022-65853127
    <br> Chief Organizer -Mr.Arup Pattanaik,Ex Mumbai Police Commissioner
    <br> Chairman :- Dr Srikushna Pattnaik
    <br> Contact No:– 9821024447 :– Manoranjana Panda
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">UTKALIYA SEVA SANGH</b>
<p class="td_data_addr">
    Address :- Block 185/1763,Sector-5 Kane Nagar,C G S Colony,Antop Hill,Mumbai-400037,
    <br> Contact :- G.Rushi
    <br> Contact No :- 9820086632
    <br> Contact :- Laxman Gaude
    <br> Contact No :- 9820086632
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">UTKAL JAGRUTI SEVA SANGH</b>
<p class="td_data_addr">
    Address :- 306,Kaveri Complex,Jaganath Mandir Marg,Sakinaka,Mumbai-400072 Tel No-022-64292392/28562887
    <br> Contact :- Mr.Kishore Chandra Mohapatra
    <br> Contact No :- 9892945111
    <br> Contact :- Benudhara Biswal
    <br> Contact No :- 9004006622
    <br>
</p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">SHREE MAHAMANTRA NAMSANKIRTAN MANDAL</b>
<p class="td_data_addr">
    Address :- N.C.H. Colony,Kanjur Marg(west),Mumbai-400078,Tel no-022-25944918
    <br> Contact :- Mr.Prafulla Jena
    <br> Contact No :- 9768482752
    <br> Contact :- U.N.Sahu
    <br> Contact No :- 9768482752/99877105577
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">KALINGA ORCHESTRA</b>
<p class="td_data_addr">
    Address :- 24,NALANDA,KVS Resident Comlex,NCH Colony ,Kanjurmarg(west),Mumbai-400078
    <br> Contact :- Mr. Birakishor Patra
    <br> Contact No :- 9869360663
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">NAVIMUMBAI JAGANNATH SEVA TRUST</b>
<p class="td_data_addr">
    Address :- 410 , Hermes Attrium, 4th Floor ,Plot No-67, Sector-2, CBD Belapur,NaviMumbai -400614,Tel-022-27572008/27565103
    <br> Chairman-Dr. Prashant Mohanty
    <br> Contact No :- 9322223033
    <br> Contact :- Bageswar Panda
    <br> Contact No:– 9967000441
    <br>
</p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">JAMUNI BURUTULU SEVASANGH</b>
<p class="td_data_addr">
    Address :- Kaveri Building , 3rd Floor , Jagannath Mandir Road,Sakinaka, Mumbai-400068
    <br> Contact :- Mr Radhesyam Panigrahi
    <br> Contact No:– 9967623063
    <br> Contact:– Mr Brajkishore Panigrahi
    <br> Contact No:– 9320984325
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">UTKAL SEVA SANGH</b>
<p class="td_data_addr">
    Address :-Indira Sahakari Nagar , Janta Mitra Mandal, Behind Kala Nagar, Mulund (West), Mumbai-400080
    <br> Contact :- Mr Manoj Patra
    <br> Contact No :- 9892705184
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">JAY JAGANNATH  LOKTARAN TRUST</b>
<p class="td_data_addr">
    Address :- D-201, Balaji Angon , Sector -3, Kharghar, Belapara goan, NaviMumbai-410210
    <br> Contact :- Mr.R.P Muduli
    <br> Contact No :- 9821895999
    <br> Contact :- R.K Mohapatra
    <br> Contact No :- 9892005199
    <br>
</p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">TRIMURTI MITRA MANDAL</b>
<p class="td_data_addr">
    Address :- Indira Sahakari Nagar , Janta Mitra Mandal, Behind Kala Nagar, Mulund (West), Mumbai-400080
    <br> Contact :- Mr. Basant Mohanty
    <br> Contact No :- 9892705184
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">RASHTRIYA ORIYA YUVAK PRATISTHAN</b>
<p class="td_data_addr">
    Address :- A/501, Dev Pooja , Laxmi Nagar, Ghatkopar(East),Mumbai-400075
    <br> Chairman-Srikant Padhi
    <br> Contact No :- 9820083293
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">UTKALVASI JAGANNATH SEVA MANDAL</b>
<p class="td_data_addr">
    Address :- Sastri Nagar , Malang Road, Kalyan (East), Thane-421306
    <br> Contact-Mr. Gouragopal Padhi
    <br> Contact No :- 8080004329
    <br> Contact-Mr. Gopinath Sabat
    <br> Contact :- 9220126330
    <br>
</p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">MUMBAI ORIYA MAHASANGH</b>
<p class="td_data_addr">
    Address :- 49, Fancy Chamber,5th Floor,94 Surat Road, Masjid€,Mumbai-400086
    <br> Contact :- Dr.Bipin Bihari Mishra
    <br> Contact No :- 9322694588
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">TRIVENI BATESWAR SEVA SAMITI</b>
<p class="td_data_addr">
    Address :- Dr.Ambedkar Nagar,Naupada Lane,Vidyabihar Rd,Kurla(west),Mumbai-40070
    <br> Contact :- Simanchal Pradahan
    <br> Contact No :- 9821124979
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">SHREE JAGANNATH TRUST</b>
<p class="td_data_addr">
    Address :- Annat Apt.,Room No-101,A Wing,Ostwal Empire,Boisar,Thane-410501
    <br> Contact :- Kaviraj Sethy
    <br> Contact No:– 9049991658
    <br>
</p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">SHREE JAGANATH CHARTABLE TRUST</b>
<p class="td_data_addr">
    Contact :- Paramanu Nagar ,Boisar,Dist-Thane-401501
    <br> Contact :- Sanatan Sahu
    <br> Contact No:– 9766323246/09673236042
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">ANUSHAKTI NAGAR ORIYA ASSOCIATION</b>
<p class="td_data_addr">
    Address :- 1/B,Kapila Bastu,Annushakti Nagar,Mumbai-400094,Tel-022-25558953
    <br> Contact :- Mr Muktikant Ray
    <br> Contact No:– 9892850938
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">MAHARASTRA ORIYA WELFARE ASSOCIATION</b>
<p class="td_data_addr">
    Address :- Plot no-29/A,Sector-5,Khargar,Navi Mumbai-410210.
    <br> Contact :- Mr.Bhagwan Panda.
    <br> Contact No :- 9967000441
    <br> Contact :- Balaram Patro
    <br> Contact No:– 9769330765
    <br>
</p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">SISHU ANANT ASHARAM (Mumbai Unit)</b>
<p class="td_data_addr">
    Contact :- 303,Priya Laxmi Apt.,Plot No -G-32/33,Sector-20,CBD Belapur,Navi Mumbai-400614,Tel -022-27578466
    <br> Contact :- Debaprasad Mishara
    <br> Contact No:– 9820337121
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">UTKAL SEVA  MANDAL </b>
<p class="td_data_addr">
    Address :- Kajupada Pipe Line , Sakinaka, Kurla(W), Mumbai-400072
    <br> Contact :- Brajakishore Panigrahi
    <br> Contact No:– 9320984325
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">MUMBAI NEWS CLASSIFIES </b>
<p class="td_data_addr">
    Address :- V.515,1'ST Floor ,Vidyabihar Nagar Society,Vidyavihar(west),Mumbai-400086.
    <br> Contact :- 9892221761/9004199644
    <br>
</p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">MUMBAI ORIYA SAMAJ</b>
<p class="td_data_addr">
    Address :- 49, Fancy Chamber,5th Floor,94 Surat Road, Masjid€,Mumbai-400086
    <br> Contact :- Dr.Bipin Bihari Mishra
    <br> Contact No:– 022-66100105
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">SHREE SANESWAR MANDIR</b>
<p class="td_data_addr">
    Address :- New Gurukul Vidyapith, Sambhaji Nagar, Manorama Nagar Road,Thane(W),Mumbai-400607
    <br> Contact :- Dibya Charan Mohanty
    <br> Contact No:– 9869102218
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">ODISHA BHAWAN</b>
<p class="td_data_addr">
    Address :- Plot No-5 ,Sector -30A, VASHI, Navi Mumbai-400703, 022-27813372
    <br> Contact :- Sudhir Nayak
    <br> Contact No :- 9930029716
    <br> Contact :- Nilakanth Mahapatra
    <br> Contact No:– 9594710085
    <br>
</p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">KALINGA SEVA SANGHA</b>
<p class="td_data_addr">
    Address :- Dr. Samantray's House, 1st Floor , VidyaVihar Road, Naupada, Kurla (W), Mumbai-400070, Tel-022-6528196
    <br> Contact :- Mr. Chitaranjan Mohanty
    <br> Contact No:– 9892480351
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">SHREE JAGANNATH KRUPA SEVA MANDAL</b>
<p class="td_data_addr">
    Address :- Vikhoroli Village, Vikhroli(East),Mumbai-400079
    <br> Contact :- Krishna Panda
    <br> Contact No:– 9869008917
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">UTKAL MITRA MANDAL</b>
<p class="td_data_addr">
    Address :- Hariyalli Village, Vikhroli(East),Mumbai-400079
    <br> Sajojak :- Mr Durga Panda
    <br> Contact No:– 09967244458
    <br> Contact :- Mr Kishor Padhi
    <br> Contact No:– o9867916450
    <br>
</p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">UTKAL SEVA SAMITI</b>
<p class="td_data_addr">
    Address :-Ramabai Colony, E.E Highway, Ghatkopar(East), Mumbai-400075
    <br> Contact :- Mr. K.C Parida
    <br> Contact No:– 9869073103
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">MAA DURGA PUJA COMMITTEE</b>
<p class="td_data_addr">
    Address :- Gangaram Patil Omkar Communication, Sector-19, House No-4, Near SaiBaba Hospital, NaviMumbai-400709
    <br> Contact :- Naresh Mohapatra
    <br> Contact No:– 9323597244
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">JAY BHAWANI MITRA MANDAL</b>
<p class="td_data_addr">
    Address :- Nanabai Chawl, WF-25, Near Naupada Baudi, Naupada, Kurla west,Mumbai-400070
    <br> Contact :-Mr Rabiendra Moharana
    <br> Contact No:– 9819781040
    <br>
</p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">NEW JAGANNATH PURI SANTH SAMAJ</b>
<p class="td_data_addr">
    Address :- Hariyalli Village, Vikhroli(East),Mumbai-400079
    <br> Contact :- Parameswar Dash
    <br> Contact No:– 9869334051
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">Utakala jagruti Sevasangha</b>
<p class="td_data_addr">
    Contact :- K.C.Mohapatra
    <br> Contact :- Benudhara Biswala
    <br> Contact :– Manoranjana Panda
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">KALINGA SEVA SAMITI</b>
<p class="td_data_addr">
    Address :-Vithwa Kalwa, Thane(West), Mumbai-421306
    <br> Contact :- Rabiendra Pradhan
    <br> Contact No:– 9322397322
    <br>
</p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">JAGANNATH BHAJAN MANDAL</b>
<p class="td_data_addr">
    Address :- Navy Nagar , Colaba , Mumbai-400032
    <br> Contact :- Achutananda Khatua
    <br> Contact No:– 9833598730
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">SYMPHONY ' MUSICAL GROUP</b>
<p class="td_data_addr">
    Address :- Room No-2975, Building No-214, Sector-2,Khane Nagar, AntopHill, Mumbai-400037
    <br> Contact :- Bansi Jadukar
    <br> Contact No :- 9930611698
    <br> Contact :- Ratnakar Tripathy
    <br> Contact No:– 9820993289
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">THE LEGENDS ENTERTAINMENT GROUP</b>
<p class="td_data_addr">
    Address :- 202, Suyog Apt. Plot No-247/248, Sector-26 A,Koparipada , Vashi, NaviMumbai-400705
    <br> Contact :- Mr. Sujit Kumar Parida
    <br> Contact No:– 9892138604
    <br>
</p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">AMARESWAR MANDIR</b>
<p class="td_data_addr">
    Address :-Amar Nagar , Naupada, New Muncipalty Dawakhana, Naupada, Kurla, Mumbai-400070
    <br> Contact :- Mr. Ramesh Sahu
    <br> contact No:– 9819390445
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">RADHAKRISHNA CHAITANY MANDAL PREMIER</b>
<p class="td_data_addr">
    Address :- Gate No-6, Milind Nagar, Kurla Tarshid Road, Kurla(W), Mumbai-400078
    <br> Contact :- Mr Sanatan sahu
    <br> Contact No :- 9324349926
    <br> Contact :- Mr Trinath Panda
    <br> Contact No:– 9029500346
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">JAY AMBE MITRA MANDAL</b>
<p class="td_data_addr">
    Address :- Raghunath Chawl, Opp. Walton Wadi, Naupada , Kurla, Mumbai-400070
    <br> Contact :- Mr. Pradeep Sabat
    <br> Contact No:– 8080419255
    <br>
</p>
</td>
</tr>
<tr>
<td width="33%">
<b class="td_title">KALINGA YUVAK SEVA SANGH</b>
<p class="td_data_addr">
    Contact :- Laxmi Bag , Panth Nagar , Ghatkopar(East), Mumbai-400075
    <br> Contact :- Mr Loknath Padhi
    <br> Contact No:–9820101043
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">UTKAL VIKASH SAMAJ SANSTHAN</b>
<p class="td_data_addr">
    Address :- 104, Sarvesh Apt. Near Balaji Hospital, Mira Bhayender Road, Mira(East), Thane-401107
    <br> Contact :- Mr R.K Sahu
    <br> Contact No:– 9820841471
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">PASCHIMA ODISHA ODIA PARIVAR</b>
<p class="td_data_addr">
    Address :- C-803/804, Madhuban, Ketaki pada, Opp.MTNL, Dahisar(East), Mumbai-400068
    <br> Contact :- Mr. Deepak Pujari
    <br> Contact No:– 9820808918
    <br>
</p>
</td>
</tr>
<tr>
<!-- <td width="33%">
<b class="td_title">JAI JAGANNATH SEVA SAMITI</b>
<p class="td_data_addr">
    Address :- Jagannth Temple, Part - I ,
    Ganesh Murty Nagar, Colaba,
    Mumbai 400 005.
    <br>Contact Person : K B Roy
    <br>Contact Number: 9867350619
    <br>
</p>
</td> -->
<td width="33%">
<b class="td_title">JAI JAGANNATH UTTKALA SEVA SAMITI (COLABA)</b>
<p class="td_data_addr">
    Address :- Room no 520,
    Ganesh Murty Nagar, part 3,
    Captain p.p marg,
    Cuffe parade Colaba,
    Mumbai 400005 
    <br>Contact Person(President) : Achutananda Khatua 
    <br>Contact Number: 9833598730
    <br>
</p>
</td>
<td width="33%">
<b class="td_title">CHAKADOLA SEVA SANGHA, TITWALA.</b>
<p class="td_data_addr">
    Address :- Jai Jagannath, 
    Yadav Chawl No-2,
    Balyani road Behind Mata Mandir,
    Titwala-East, Kalyan, 
    Thane, Maharashtra. 421605
    <br>Contact Person : Pradipta Sahoo
    <br>Contact Number: 9930497591
    <br>
</p>
</td>
<td width="34%">
<b class="td_title">SHREE JAGANNATH SEVA MANDAL</b>
<p class="td_data_addr">
    Address :- Dr. E Moses Road, 
    Mahalaxmi race course,
    Gate No-8 Worli, 
    Mumbai. 400018
    <br>Contact Person(Secretary) : Madhusudan Behera
    <br>Contact Number: 8286463079<br>
    <br>Contact Person for Bhajan : Ranjeet Khatua
    <br>Contact Number: 9930130962
    <br>
</p>
</td>
</tr>


</tbody></table>
<p style="margin-left: 9; margin-right: 3; margin-top: 8; margin-bottom: 4" align="center">
You can send your comments at
<br> ujss@mumbaiodia.com
</p>
        </div>
    </div>
</div>